* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    background-color: #2b201e;
}

/*------------------------------------------*HEADER START*-----------------------------------------*/

.conteiner {
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgb(32, 28, 28); 
  }

  .check-menu,
  .lable-menu {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-around; 
    margin: 0 auto;  
    padding: 10px 0; 
}

.nav-menu li,
.section-left-list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu-list {
    color: #F2B705;
    transition: 0.3s;
}

.menu-list:hover {
    color: #ffffff;
}

/*-------------------------------------------*HEADER END*------------------------------------------*/

/*-------------------------------------------*MAIN START*------------------------------------------*/

/*-----main-header start-------*/

.main-header {
    display: flex;  
}

.left-main-header {
    width: 30%;
    background-color: #40211A;
}

.photo {
    width: 100%;
}

.right-main-header {
    width: 70%;
    background-color:#F2B705;
}

.section-name {
    display: flex;
    justify-content:end;
    width: 100%;
}

.name {
    margin: 50px 0;
    padding: 100px 0;
    background-color: #40211A;
    width: 95%;  
}

h1 {
    font-size: 3em;
}

 .name-header {
    margin: 0 auto;
    padding: 0 10px 0 60px;
    color: #F2B705;
    background: url("assets/icon/css.png") no-repeat;
}

/*-----main-header end-------*/

.block {
    display: flex;
}

/*-----left-block start-------*/

.left-block {
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    width: 30%;
    background-color: #40211A;
}

.section-left-header {
    padding: 0 20px 0 40px;
    background-color: #40211A;
    color: #F2B705;
    border-bottom: 2px solid #F2B705;
}

.section-left-list {
    padding: 0 20px 0 40px;
    text-decoration: none;
}

.flex-list {
    display: flex;
    color: #F2B705;
}

.list-icon {
    margin: 0 10px 10px 0;
    width: 18px;
}

.contacts-list,
.projects-list{
    color: #F2B705;
    transition: 0.3s;
}

.contacts-list:hover,
.projects-list:hover{
    opacity: 60%;
}

.language-list {
    margin: 0 0 10px 0;
    color: #F2B705;
}

/*-----left-block end-------*/

/*-----right-block start-------*/

.right-block {
    width: 70%;
    background-color:#F2B705;
    display: flex;
    justify-content:space-around;
    align-items:center;   
    flex-direction: column;
}

.section-right {
    width: 80%;
}

.section-right-header {
    padding: 0 10px;
    background-color: #40211A;
    color: #F2B705;
}

.section-right-p {
    padding: 0 10px;
}

.section-right-list {
    padding: 0 10px 0 30px;
    text-decoration: none;
}

.section-right-list-2 {
    padding: 0 10px;
}

.education-list {
    color: #000000;
    transition: 0.3s;
}

.education-list:hover{
    opacity: 60%;
}

pre {
    border: 2px dashed #40211A;
	
}

pre,
code {
    padding: 0 10px;
    font-family: 'Fira Sans', sans-serif;
}

/*-----right-block end-------*/

/*--------------------------------------------*MAIN END*-------------------------------------------*/

/*------------------------------------------*FOOTER START*-----------------------------------------*/

footer .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.rs-logo {
    width: 100%;
}

.footer-link {
    font-size: 16px;
    color: #F2B705;
    transition: 0.3s;
}

.footer-link:hover{
    color: #ffffff;
}

.rs-link {
    max-width: 60px;
    transition: 0.3s;
}

.rs-link:hover{
    opacity: 60%;
}
/*-------------------------------------------*FOOTER END*------------------------------------------*/

/*------------------------------------------*ADAPTIVE START*-----------------------------------------*/

@media (max-width: 796px) {

    .left-main-header,
    .left-block {
        width: 35%;
    }
    
    .right-main-header,
    .right-block {
        width: 65%;
    }
    
    .name {
        margin: 50px 0;
        padding: 50px 0;
        background-color: #40211A;
        width: 95%;
        
    }
    
     .name-header { 
        padding: 0 10px 0 30px;
    }
    
    .section-left-header,
    .section-left-list {
        padding-left: 20px;
    
    }
}
    
@media (max-width: 645px) {
    .main-header {
        flex-wrap: wrap;
    }

    .block {
        flex-wrap: wrap-reverse;
    }

    .right-main-header,
    .right-block {
        width: 100%;
    }

    .left-main-header {
        width: 100%;
        background-color: #F2B705;
    }

    .left-block {
        width: 100%;
    }

/*-------burger start--------*/

    .conteiner-burger {
        position: relative;
        color:#F2B705;
        text-align: center;
        height: 40px; 
    }

    .check-menu {
        display: none;  
    }

    .lable-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 40px;
    }

    .burger-line {
        position: absolute; 
        top: 8px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #F2B705;
        transition: 0.5s all;
    }

    .burger-line:nth-of-type(2),
    .burger-line:nth-of-type(3) {
        top: 18px;
    }

    .burger-line:nth-of-type(4) {
        top: 28px;
    }

    .main-menu {
        position: absolute; 
        width: 100%;
        bottom: 0;
        left: 0;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: all 0.3s linear;
    }

    .nav-menu {
        padding: 0;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(32, 28, 28, 0.61);
        padding: 20px;    
    }

    .main-menu a {
        display: flex;
        width: 100%;
        padding: 20px;
        color: #F2B705;
    
        text-decoration: none;
    }

    .main-menu a:hover {
        font-size: 26px;
    }

    .check-menu:checked ~ .main-menu {
        max-height: 540px;              
        font-size: 20px; 
    }

    .check-menu:checked ~ .burger-line:nth-last-of-type(1),
    .check-menu:checked ~ .burger-line:nth-last-of-type(4) {
        display: none;
    }

    .check-menu:checked ~ .burger-line:nth-last-of-type(2) { 
    transform: rotate(45deg);
    }

    .check-menu:checked ~ .burger-line:nth-last-of-type(3) {
        transform: rotate(-45deg);
    }
}
/*--------burger end---------*/

/*-------------------------------------------*ADAPTIVE END*------------------------------------------*/