* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    background-color: #2b201e;
}

/*------------------------------------------*HEADER START*-----------------------------------------*/

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(32, 28, 28); 
  }

.nav-menu {
    display: flex;
    justify-content: space-around; 
    margin: 0 auto;  
    padding: 10px 0; 
}

.nav-menu li,
.section-left-list {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.menu-list {
    color: #F2B705;
}

.menu-list:hover {
    color: #ffffff;
}

/*-------------------------------------------*HEADER END*------------------------------------------*/